<h2>Template: <small>Dinamicos</small></h2>
<hr>

<form (ngSubmit)="guardar()" autocomplete="off" #miformulario="ngForm">
    <div class=" mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                placeholder="Nombre de la persona"
                required
                [ngModel]="persona.nombre"
                name="nombre"
                type="text"
            >
            <span class="form-text text-danger"
                    *ngIf="miformulario.controls['nombre']?.errors"
            >Este campo es obligatorio
            </span>
        </div>
    </div>

    <div class=" mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                    <input class="form-control"
                    placeholder="Agregar favorito"
                    type="text"
                    [(ngModel)]="nuevoJuego"
                    name="nuevoJuego"
                    (keyup.enter)="agregarJuego()"
                    >
                    <button class="btn btn-outline-primary"
                        type="button"
                        (click)="agregarJuego()"
                    >
                        Agregar
                    </button>
            </div>
        </div>
    </div>

    <div class=" mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">
            <div class="input-group mb-1" *ngFor="let juego of persona.favoritos; let i=index" >
                <input 
                    class="form-control "
                    name="favoritos_{{i}}"
                    required
                    [(ngModel)]="juego.nombre"
                >
                <button class="btn btn-outline-danger"
                    type="button"
                    (click)="eliminar(i)"
                >
                    Eliminar
                </button>
        </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-sm-12 mt-2">
        <button type="button"
            (click)="guardar()"
            class="btn btn-primary float-end"
            [disabled]="miformulario.invalid"
        >
            Guardar
        </button>
    </div>
</div>


<span>persona</span>
<pre>{{persona | json}}</pre>